:root {
  --font-family: "Montserrat", sans-serif;
  --color: #cc212a;
}
.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.footer {
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

.fa-circle {
  color: var(--color);
  font-size: 40px;
  position: relative;
  top: 11px;
}
.linea {
  width: 100%;
  height: 7px;
  background-color: var(--color);
  position: absolute;
  bottom: 50px;
}
.copy {
  margin-bottom: 30px;
}
.r {
  position: relative;
  color: whitesmoke;
  bottom: 17px;
}

@media all and (min-width: 768px) {
  .main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .article {
    color: var(--color);
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .footer {
    width: 100vw;
    height: 10vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
  }
  .fa-circle {
    color: var(--color);
    font-size: 40px;
    position: relative;
    top: 11px;
  }
  .linea {
    width: 100%;
    height: 7px;
    background-color: var(--color);
    position: absolute;
    bottom: 100px;
  }
  .copy {
    margin-bottom: 30px;
  }
  .r {
    position: relative;
    color: black;
    bottom: 17px;
  }
}
