.item {
  box-sizing: border-box;
  background-color: pink;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  text-align: center;
}

/* flex */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
