.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 1fr 20vh;
  grid-gap: 5px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}
.header {
  background-color: lightpink;
  grid-column: span 12;
  /* height: 20vh; */
}

.menu {
  background-color: purple;
  grid-row: span 4;
  grid-column: span 4;
}
.main {
  background-color: lightcoral;
  grid-row: span 4;
  grid-column: span 8;
}
.footer {
  background-color: lightblue;
  grid-column: span 13;
  height: 20vh;
}
