:root {
  --font-family: "Montserrat", sans-serif;
  --color: #cc212a;
}

body {
  font-family: var(--font-family);
  color: var(--color-firered);
  text-align: center;
  font-size: 16px;
}
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-weight: 700;
  font-size: 2.125rem;
}
.footer {
  position: fixed;
  bottom: 0px;
  border-top: solid 5px var(--color);
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  background-color: var(--color);
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: white;
  font-weight: border;
  position: relative;
  bottom: 25px;
}
.copy {
  margin: 10px;
}

@media all and (min-width: 768px) {
  .main {
    font-size: 2rem;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .circle {
    position: static;
    margin: 20px;
  }
  .copy {
    margin: 20px;
  }
}
