.page {
  height: 100vh;
  display: grid;
  /* repeeat para no escribir a mano 1 fr 12 veces */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% 1fr 20%;

  grid-gap: 5px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}
.header {
  background-color: lightpink;
  grid-column: span 12;
}

.menu {
  background-color: purple;
  grid-column: span 4;
}
.main {
  background-color: lightcoral;

  grid-column: span 8;
}
.footer {
  background-color: lightblue;
  grid-column: span 13;
}
