<main class="main">
  <article class="article1">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, debitis.
      Maxime a suscipit mollitia provident alias adipisci itaque perferendis ea
      numquam dignissimos. Obcaecati, iusto assumenda repudiandae molestiae vero
      eaque minima. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Excepturi nesciunt accusamus aperiam soluta dolor corrupti autem
      dignissimos placeat, ea possimus quas in perspiciatis nulla pariatur
      voluptatibus suscipit cum! Delectus, temporibus. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Esse et praesentium voluptas maiores
      quasi fuga sunt sint, a autem deserunt ipsa, dolor quibusdam id rerum.
      Aliquid temporibus dolor modi consequuntur! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Eligendi quas quam, ex nisi neque cumque
      voluptas doloremque nam ullam corporis fugiat earum blanditiis vitae ipsa
      perferendis molestias dolorum dolor tenetur? Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Minus, sint voluptas explicabo dolores
      asperiores vitae illum id quas fuga facilis molestias eligendi facere
      beatae omnis deserunt velit corrupti at molestiae? Lorem, ipsum dolor sit
      amet consectetur adipisicing elit. Sunt, soluta facilis? Minima
      praesentium repellat, iure reprehenderit voluptas ratione expedita qui
      soluta consequuntur veniam eligendi sapiente? Odit molestiae officia ut
      neque.
    </p>
  </article>
  <article class="article">
    <h3 class="article__h3">Prueba SASS</h3>
    <div class="article__button">Boton</div>
    <div class="article__button--2">Boton2</div>
  </article>
</main>
