@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";

$colorButton: lighten(#6b717f, 20%);
// $colorButton: #6b717f;
$Sizebutton: 60px;
$Borderradiusbutton: 5px;

@mixin botones {
  background-color: $colorButton;
  border-radius: $Borderradiusbutton;
  height: $Sizebutton;
  line-height: $Sizebutton;
}

.article1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__h3 {
    margin: 20px;
  }
  &__button {
    background-color: lightblue;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    // @media (min-width: 768px) {
    //   background-color: $colorButton;
    //   border-radius: $Borderradiusbutton;
    //   height: $Sizebutton;
    //   line-height: $Sizebutton;
    // }
    @media (min-width: 768px) {
      @include botones();
    }

    &--2 {
      background-color: red;
      border-radius: 5px;
      height: 45px;
      line-height: 45px;
      margin: 10px;
      @media (min-width: 768px) {
        background-color: lightcoral;
        border-radius: $Borderradiusbutton;
        height: $Sizebutton;
        line-height: $Sizebutton;
      }
    }
  }
}
