.article {
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 15px 45px;
  @media all and (min-width: 768px) {
    margin: 30px 39px 60px;
  }
  @media all and (min-width: 1200px) {
    margin: 60px 275px;
  }
  &__title {
    color: #8ccbea;
    font-size: 14px;
    padding: 5px 0px;
    text-transform: capitalize;
    @media all and (min-width: 1200px) {
      font-size: 16px;
    }
  }
  &__subtitle {
    font-size: 24px;
    font-family: $font-title;
    text-transform: capitalize;
    margin-bottom: 15px;
    padding-top: 5px;
    @media all and (min-width: 768px) {
      font-size: 26px;
      margin-bottom: 30px;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
    }
  }
  &__paragraph {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 30px;
    line-height: 1.5;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
  }
  &__button {
    color: $button-color;
    font-size: 20px;
    font-weight: 500;
    width: 76px;
    height: 45px;
    border-radius: 25px;
    border: solid 3px $button-color;
    line-height: 40px;
    text-align: center;
    transition: color 2s ease-in, background-color 2s ease-in, transform 2s;
    &:hover {
      background-color: $button-color;
      color: $letter-color;
      transform: scale(1.2);
    }
    @media all and (min-width: 768px) {
      width: 91px;
    }
    @media all and (min-width: 1200px) {
      width: 160px;
    }
  }
}
