.margin-page {
  margin: 0px 20px;
}
.title {
  color: crimson;
  font-weight: bold;
  font-size: 32px;
}
.parrafo {
  font-size: 18px;
  line-height: 24px;
}

@media all and (min-width: 768px) {
  .margin-page {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
  }
  .title {
    color: blueviolet;
    font-weight: bold;
    font-size: 28px;
  }
  .parrafo {
    font-size: 16px;
    line-height: 20px;
  }
}
@media all and (min-width: 1140px) {
  .margin-page {
    margin-top: 190px;
    max-width: 750px;
  }
  .title {
    color: cyan;
    font-weight: bold;
    font-size: 42px;
  }
  .parrafo {
    font-size: 24px;
    line-height: 32px;
  }
}
