.header {
  background-color: #cd5c5c;
  width: 100%;
  text-align: center;
}
.aside-1 {
  background-color: #f0e68c;
  width: 20%;
}
.article {
  background-color: #add8e6;
  width: 60%;
}
.aside-2 {
  background-color: #f08080;
  width: 20%;
}
.footer {
  background-color: #90ee90;
  width: 100%;
  text-align: center;
}
.contenido {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}
.body {
  max-width: 960px;
}
